<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.jdt.core.IJavaElement"
            id="cn.ac.iscas.appinsighteclipse.contribution1">
         <menu
               label="AppInsight Eclipse"
               path="additions"
               id="cn.ac.iscas.appinsighteclipse.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="AppInsightEclipse Instrument"
               class="cn.ac.iscas.appinsighteclipse.popup.actions.NewAction"
               menubarPath="cn.ac.iscas.appinsighteclipse.menu1/group1"
               enablesFor="1"
               id="cn.ac.iscas.appinsighteclipse.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
